body, html {
  overflow-x: hidden; 
  overflow-y: hidden;

  font-family: "Comic Sans", "Comic Sans MS", cursive;
}

.title {
  background: -webkit-linear-gradient(120deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  font-size: 10vw;
}

.background {
  background-image: url("assets/background.gif");
  background-size: 180px 101px;

  -webkit-animation: zoomy 10 linear infinite;
  animation: zoomy 10s linear infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;

  width: 100%;
  height: 100%;
}

.parent {
  width: 100vw;
  height: 100vh;
  position: relative;

  background-image: url("assets/background.jpg");
  background-size: 110px 83px;
}

@-webkit-keyframes zoomy {
  0% { -webkit-transform: scale(1); transform: scale(1) }
  50% { -webkit-transform: scale(2); transform: scale(2) }
  100% { -webkit-transform: scale(1); transform: scale(1) }
}
@keyframes zoomy {
  0% { -webkit-transform: scale(1); transform: scale(1) }
  50% { -webkit-transform: scale(2); transform: scale(2) }
  100% { -webkit-transform: scale(1); transform: scale(1) }
}